.centered {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

.hero {
  position: relative;
  padding: $section_padding;
  height: 400px;
}

.features {
  position: relative;
  padding: $section_padding;
  background: rgba(240,240,240,1.0);

  .row {
    margin-bottom: 75px;
    padding-bottom: 75;
  }
}

.feature-icon {
  font-size: 12em;
  vertical-align: middle;
}

.feature-left {
  float: left;
  margin-right: 5%;
}

.feature-right {
  float: right;
  margin-left: 5%;
}

.pricing {
  position: relative;
  padding: $section_padding;
  background: rgba(200,200,200,1.0);

  ul.pricing-table {
    float: left;
    display: block;
    width: 30%;
    border: 1px solid rgb(221, 221, 221);
    margin: 10px;
    padding: 0px;
    list-style: none;
    list-style-position: outside;

    li.title {
      padding: 5px 10px;
      background-color: #444;
      color: rgb(238, 238, 238);
      text-align: center;
      padding: 10px;
      font-size: 24px;
      font-weight: normal;
    }

    li.price {
      padding: 5px 10px;
      background-color: #aaa;
      color: rgb(51, 51, 51);
      text-align: center;
      font-size: 18px;
      font-weight: bold;
    }

    li.description {
      padding: 5px 10px;
      background-color: #eee;
      color: rgb(51, 51, 51);
      text-align: center;
      font-size: 10px;
      font-weight: normal;
    }

    li.bullet-item {
      padding: 5px 10px;
      background-color: #fff;
      color: rgb(51, 51, 51);
      text-align: center;
      font-size: 12px;
      font-weight: normal;
    }

    li.button {
      padding: 10px 10px;
      background-color: #bbb;
      color: #fff;
      text-align: center;
      font-size: 14px;
      font-weight: normal;
    }

    li.price.monthly {
      display: none;
    }

    li.price.yearly {
      display: block;
    }

    .yearly-details {
      font-size: 8pt;
      padding: 5px 0;
    }
  }
}

.footer {
  position: relative;
  padding: $section_padding;
  background: $jobspageio-green;
}

.colour-bars {
  height: $colour-bar-height;
  z-index: 9999;

  div {
    height: $colour-bar-height;
    width: 8.33333%;
    margin: 0px;
    padding: 0px;
    float: left;
  }
}

.jobspageio-yellow {
  color: $jobspageio-yellow;
}

.colour-bar-yellow {
  background: none repeat scroll 0% 0% $jobspageio-yellow;
}

.jobspageio-amber {
  color: $jobspageio-amber;
}

.colour-bar-amber {
  background: none repeat scroll 0% 0% $jobspageio-amber;
}

.jobspageio-orange {
  color: $jobspageio-orange;
}

.colour-bar-orange {
  background: none repeat scroll 0% 0% $jobspageio-orange;
}

.jobspageio-sunset {
  color: $jobspageio-sunset;
}

.colour-bar-sunset {
  background: none repeat scroll 0% 0% $jobspageio-sunset;
}

.jobspageio-red {
  color: $jobspageio-red;
}

.colour-bar-red {
  background: none repeat scroll 0% 0% $jobspageio-red;
}

.jobspageio-fuchsia {
  color: $jobspageio-fuchsia;
}

.colour-bar-fuchsia {
  background: none repeat scroll 0% 0% $jobspageio-fuchsia;
}

.jobspageio-purple {
  color: $jobspageio-purple;
}

.colour-bar-purple {
  background: none repeat scroll 0% 0% $jobspageio-purple;
}

.jobspageio-indigo {
  color: $jobspageio-indigo;
}

.colour-bar-indigo {
  background: none repeat scroll 0% 0% $jobspageio-indigo;
}

.jobspageio-blue {
  color: $jobspageio-blue;
}

.colour-bar-blue {
  background: none repeat scroll 0% 0% $jobspageio-blue;
}

.jobspageio-aqua {
  color: $jobspageio-aqua;
}

.colour-bar-aqua {
  background: none repeat scroll 0% 0% $jobspageio-aqua;
}

.jobspageio-green {
  color: $jobspageio-green;
}

.colour-bar-green {
  background: none repeat scroll 0% 0% $jobspageio-green;
}

.jobspageio-lime {
  color: $jobspageio-lime;
}

.colour-bar-lime {
  background: none repeat scroll 0% 0% $jobspageio-lime;
}

