%header
  .navbar.navbar-default.navbar-fixed-top(role='navigation')
    .colour-bars
      .colour-bar-yellow
      .colour-bar-amber
      .colour-bar-orange
      .colour-bar-sunset
      .colour-bar-red
      .colour-bar-fuchsia
      .colour-bar-purple
      .colour-bar-indigo
      .colour-bar-blue
      .colour-bar-aqua
      .colour-bar-green
      .colour-bar-lime
    .container
      .navbar-header
        =link_to icon_tag('briefcase') + app_name, www_url, {class: 'navbar-brand'}
      %ul.nav.navbar-nav.navbar-right
        %li{:class => active('site#features'), id: 'features_link'}
          =link_to 'Features', '#features', class: 'scroll'
        %li{:class => active('site#pricing'), id: 'pricing_link'}
          =link_to 'Pricing', '#pricing', class: 'scroll'
        %li{:class => active('site#blog'), id: 'blog_link'}
          =link_to 'Blog', '#'
        %li
          %a{href: '#', id: 'navbar-signup'}
            %button.btn.btn-default.navbar-btn Join Now for Free!
        %li
          %a{href: '#', id: 'navbar-signin'}
            %button.btn.btn-default.navbar-btn Sign In
  .navbar-spacer
