%header
  .jpio-colour-bar
    .jpio-cb-yellow
    .jpio-cb-amber
    .jpio-cb-orange
    .jpio-cb-sunset
    .jpio-cb-red
    .jpio-cb-fuchsia
    .jpio-cb-purple
    .jpio-cb-indigo
    .jpio-cb-blue
    .jpio-cb-aqua
    .jpio-cb-green
    .jpio-cb-lime

  .navbar.navbar-default(role='navigation')
    .container
      .navbar-header
        =link_to app_name, www_url, {class:'navbar-brand'}
      %ul.nav.navbar-nav.navbar-right
        %li{:class => active('site#features'), id: 'features_link'}
          =link_to 'Features', '#features', class: 'scroll'
        %li{:class => active('site#pricing'), id: 'pricing_link'}
          =link_to 'Pricing', '#pricing', class: 'scroll'
        %li{:class => active('site#blog'), id: 'blog_link'}
          =link_to 'Blog', '#'
        -#%li
          %a{href: signup_path, id: 'navbar-signup'}
            %button.btn.btn-default.navbar-btn Join Now for Free!
        -#%li
          %a{href: signin_path, id: 'navbar-signin'}
            %button.btn.btn-default.navbar-btn Sign In
